
.Search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    cursor: pointer;
}

.Search-Wrapper h1{
    color: white;
}

.SearchForm {
    width: 100%;
    background-color: #10196e;
    border-radius: 10px;
}

.search-input {
    outline: none;
    background: transparent;
    border: 1px solid #a81379;
    padding: .5rem 2rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    width: 300px;
}

.list{
    color: white;
    background-color: Grey;
    border-radius: 20px;
}

.fa-trash {
    margin-left: 0.75rem;
}

.completed {
    color: #c5aeff;
    text-decoration: line-through;
}
