body {
    background-color: #f0f5f9;
    color: #576574;
}

h2 {
    color: #2e86de;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #d1ccc0;
    border-radius: 5px;
}

h3 {
    color: #0e3b24;
    margin-bottom: 5px;
}

p {
    color: #8395a7;
    font-style: italic;
}
